Memberships
* User should see link for Basic plan on home page
* User should see link for Pro plan on home page
* Basic plan link should point to regular Devise sign up form 

* Pro plan link should point to a custom sign up form
We'll learn a very important technique for sending data through a URL. This is called query string parameters.
By passing data through a URL, we can send data from one page to the next page load.
The 2 ways you can pass information (called parameters) from page to page is either using forms (POST data) or via query string parameters.

ActiveRecord (rails way of querying the database)
Parameters(any data that sent over the air called parameters)
Substitution

==================================================================================================================

STRIPE Integration
* Users should have a stripe customer token(id) in the users table

* Javascript(pause the form and not submit to our servers) should prevent Pro form from 
submitting , when user fills it out, and should send credit card info to Stripe. Stripe will 
return with a card token.
(This is done for one time payment. If we want recurring payment from customers we will 
have to send back the card token to stripe for subscription and follow the steps below.)

* Javascript should send users field(email and password) and card token to our Rails app. 
Rails app should validate the user fields. Rails app will note wheather plan 1 or plan 2.

* Once validated, Rails should send user info (email, plan id ) and card token to stripe 
server and Stripe will create a subscription and send back customer token.
Rails should save customer token and user info to our database.

========================================================================================
config/application.yaml (created by figaro installation)
.gitignore(created by figaro installation)
config/initializer/stripe.rb
==========================================================================================

Stripe Integration
=======================
* Users should have a stripe customer token in the users table.
* Javascript should prevent Pro form from submitting, after user fills it out,
and should send card info to Stripe. Stripe will return with a card token.(load js library)
 
 Recurring Subscription
* Javascript should send user fields and card token to our rails app. Rails app
should validate the user fields. Rails app will note whether plan 1 or plan 2.
* Once validated, Rails should send user info (email, plan id) and card token
to Stripe server and Stripe will create a subscription and send back customer
token. Rails should save customer token and user information to our database.
==============================================================================================

1- load js library => validates the credit card info and securily sends the card 
field package to the Stripe to get the card token back.


