<div class="container text-center">
  <h1>About page</h1>
  <P>We are DevMatch. Our company focuses on creating an exclusive community
    developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure iste quis cum accusantium sed! Non reiciendis praesentium recusandae veniam laboriosam, minus, cupiditate debitis neque expedita natus dolores dolorem! In, id!
  </P>
</div>